*{
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 52%;
    font-family: "Libre Franklin", sans-serif;
}
.problem{
    max-width: 100%;
    padding: 20px;
    grid-column: 1;
    
    h1{
        padding-top: 10%;
        color: white;
        font-size: 350%;
        padding-bottom: 5%;
    }
    h2{
        background-color: white;
        width: 30%;
        height: 10px;
    }
    h4{
        padding-top: 5%;
        font-size: 150%;
        white-space: wrap;
        overflow: hidden; /* Truncate with ellipses (...) */
        text-overflow: ellipsis;
        color: white;
        font-weight: 100;
        padding-bottom: 20%;
    }
    background-color: #b48972 ;
}
.probtext{
    grid-column: 2;
    text-align: center;
    padding-top: 7%;
    h1 {
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 180%; /* Adjust font size for the heading */
    }

    p {
        font-size: 15px; /* Adjust font size for paragraphs */
        line-height: 1.5;
        padding-left: 3%;
        padding-right: 3%;
    }

    h3{
        justify-self: center;
        background-color: #b48972 ;
        margin: 30px;
        height: 6px;
        
        

    }
}
.mission-container {
    padding-top: 2.5%;
    grid-column: 1/4;
    width: 100%; /* Adjust width as needed */
    position: relative; /* Needed for background image positioning */
    overflow: hidden; /* Needed for background image positioning */
    height: 100%;
}
  
.mission-content {

    text-align: center;
    position: relative; 
    font-size: 18px;
    display: grid;
    justify-content: center;
    color: white;
    padding-bottom: 3%;
    font-weight: 700;
}
.one{
    margin: 10px;
    width: 90%; /* Adjust width as needed */
    height: 350px;
    border-radius: 7%;
    position: relative; /* Needed for background image positioning */
    overflow: hidden; 
    align-content: center;
    background-image: url("icons/pencil-1891732_1280.jpg"); /* Replace with your image path */
    background-size: cover; /* Scales the image to cover the entire element */
    background-position: center;
}
.two{
    margin: 10px;
    width: 90%; /* Adjust width as needed */
    height: 350px;
    border-radius: 7%;
    position: relative; /* Needed for background image positioning */
    overflow: hidden; 
    align-content: center;
    background-image: url("icons/turntable-1337986_1280.jpg"); /* Replace with your image path */
    background-size: cover; /* Scales the image to cover the entire element */
    background-position: center;
}
.three{
    margin: 10px;
    width: 90%; /* Adjust width as needed */
    height: 350px;
    border-radius: 7%;
    position: relative; /* Needed for background image positioning */
    overflow: hidden; 
    align-content: center;
    background-image: url("icons/book-3531412_1280.jpg"); /* Replace with your image path */
    background-size: cover; /* Scales the image to cover the entire element */
    background-position: center;
    padding-bottom: 15px;
  }
 
.title-line1{
    font-size: 300%;
    padding-left: 10px;
    padding-bottom: 0.75%;
    font-weight: 600;
}
.title-line2{
    font-size: 130%;
    padding-left: 5px;
    padding-bottom: 15px;
    font-style: normal;
    padding-left: 10px;
}


em{
    font-size: 300%;
    font-weight: 900;
}
@media screen and (min-width: 768px) {
    .mission-content {
        grid-template-columns: 33% 33% 33%;
    }
    .one{
        grid-column: 1;
    }
    .two{
        grid-column: 2;
    }
    .three{
        grid-column: 3;
    }
}

footer{
    background-color: #4E2422;
    position:absolute;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25%;
}
.words{
float:left;
width:25%;
margin-left:3%;
}

.insta{
float: right;
margin-right:3%;
padding:20px;


}
footer p{
    font-size: 12px;
    margin: 1%; 
    color:white
}