*{
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
}

main{
    background-color: #f7f7f7;
}

h2{
    text-align: center;    
    color: black;
    padding-top: 5%;
}

main.p{
    text-align: center;
    padding: 5% 7%;
    color: #00171F;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.card {
    width:96%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 5% 2%;
}

a{
    text-decoration: none;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
padding: 15px;
}

.card-content h3{
    font-size: 18px;
    text-align: center;
}

.card-content p{
    font-size: 14px;
    text-align: center;
}

footer{
    background-color: #4E2422;
    position:absolute;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25%;
    padding-bottom: 0.55%;
}
.words{
float:left;
width:25%;
margin-left:3%;
}

.insta{
float: right;
margin-right:3%;
padding:20px;


}
footer p{
    font-size: 12px;
    margin: 1%; 
    color:white
}
.descrip{
    padding-left: 3%;
    padding-right: 3%;
}

@media screen and (min-width:800px){
    .course-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:100%;
    }

    .card img {
        max-width: 500px;
        max-height: 500px;
        object-fit: cover;
    }

    h2{
        text-align: center;    
        color: #00171F;
        padding-top: 5%;
    }
   
    main.p{
        text-align: center;
        padding: 2% 18%;
        color: #00171F;
    }

}
