*{
    font-family: "Libre Franklin", sans-serif;
    margin: 0;
}

main{
    background-color: #f7f7f7;
}

h2{
    text-align: center;    
    color: black;
    padding-top: 5%;
}

main.p{
    text-align: center;
    padding: 5% 7%;
    color: black;
}

.video-container {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    align-items: center;
}

.card {
    width:96%; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 3% 2%;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    }
    
    .card-content {
    padding: 15px;
    }
    
    .card-content h3{
        font-size: 18px;
        text-align: center;
    }
    
    .card-content p{
        font-size: 14px;
        text-align: center;
    }

   
    footer{
        background-color: #4E2422;
        position:absolute;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .words{
    float:left;
    width:35%;
    margin-left:3%;
    }
    
    .insta{
    float: right;
    margin-right:3%;
    padding:20px;
    
    }
    footer p{
        font-size: 12px;
        margin: 1%; 
        color:white
    }

@media screen and (min-width:800px){
    .video-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
        margin: 0;
        width: 100%; 
    }
    .card{
        width: 28%; 
    }

    .card img {
        max-width: 500px; 
        max-height: 500px;
        object-fit: cover;
    }

    h2{
        text-align: center;    
        color: #00171F;
        padding: 3% 0% 1% 0%;
    }
    
    main.p{
        text-align: center;
        padding: 1% 18%;
        color: #00171F;
    }
}
